<div class="page-header">
		<h1><%= @user.spotify_id %></h1>
		<p>Choose a playlist to edit, or create a new one</p>
</div>

	<table class='table'>
		<thead>
			<td>Playlist</td>
		<tbody>
			<tr>
				<td><%= link_to 'Create a new playlist', new_playlist_path(:id => @user.id)  %></td>
				<td></td>
			</tr>
		<%if @playlists != nil %>
			<% @playlists.each do |playlist| %>
					<tr>
						<td> <%= playlist.name %></td>
						<td> <%= link_to 'Edit', playlist_path(playlist) %>
					</tr>
			<% end %>
		<% end %>
		</tbody>
	</table>

	<%= link_to 'Logout', logout_path %>	



